.wrap {
    border-radius: 14px;
    overflow: hidden;
    width: 100%;
    background-color: var(--color-white-100);
}

.indicators-wrap {
    display: flex;
    justify-content: stretch;
}

.indicator {
    width: 100%;
    height: 0.5rem;
    background-color: var(--color-stroke-grey-100);
    transition: background-color 0.2s ease;
}

.indicator[data-state="active"] {
    background-color: var(--color-blue-100);
}

.indicator + .indicator {
    margin-left: 0.25rem;
}

.inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
}

.current-step-label strong {
    font-weight: 700;
}

.steps-left-label {
    color: var(--color-dark-50);
}

@media screen and (width <= 767px) {
    .inner {
        width: 100%;
        flex-direction: column;
        align-items: start;
        padding: 1rem;
    }

    .current-step-label {
        width: 100%;
        font-size: 1rem;
    }

    .steps-left-label {
        width: 100%;
        font-size: 0.875rem;
    }
}
