.wrap {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: var(--color-white-100);
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrap:global(.fixed) {
    position: absolute;
    inset: 0;
}

.loader {
    flex-shrink: 0;
    width: 5rem;
    height: 5rem;
    background-size: cover;
    overflow: hidden;
    animation: loader-circle 1s steps(8, end) infinite;
}

@keyframes loader-circle {
    to {
        transform: rotate(360deg);
    }
}
