.wrap {
    width: 100%;
    font-family: "Inter", sans-serif;
}

.wrap.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.wrap.copied .addon-icon {
    color: var(--color-green-110);
}

.label {
    margin-bottom: 0.25rem;
}

.inner {
    position: relative;
    display: flex;
    width: 100%;
}

.inner input {
    outline: none;
    width: 100%;
    padding: 0.8962rem 1.25rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    background-color: transparent;
    color: var(--color-dark-100);
    border: 1px solid var(--color-stroke-grey-100);
    border-radius: 1rem;
    cursor: text;
    transition:
        border-color 0.3s,
        background-color 0.3s,
        color 0.3s,
        placeholder-color 0.3s,
        opacity 0.3s;
}

.input input::placeholder {
    color: var(--color-dark-50);
}

.input input:disabled {
    cursor: not-allowed;
    border-color: var(--color-dark-50);
}

.inner input[type="search"] {
    padding-left: 3rem;
}

.inner:hover input:not([read-only], :disabled, :focus-visible, :focus:not(.inner input:focus-visible)) {
    border-color: var(--color-dark-50);
}

.inner input:not([tabindex="-1"]):focus-visible {
    border-color: var(--color-blue-100);
}

.inner input:not([tabindex="-1"]):focus-visible::placeholder {
    opacity: 0;
}

.inner input:not([tabindex="-1"]):focus {
    /* @apply border-blue-100 placeholder:opacity-0; */
    border-color: var(--color-blue-100);
}

.inner input:not([tabindex="-1"]):focus::placeholder {
    opacity: 0;
}

.inner input:not([tabindex="-1"]):focus:not(.inner input:focus-visible) {
    border-color: var(--color-blue-100);
}

.inner input:not([tabindex="-1"]):focus:not(.inner input:focus-visible)::placeholder {
    opacity: 0;
}

.inner input:-webkit-autofill,
.inner input:-webkit-autofill:autofill,
.inner input:-webkit-autofill:hover,
.inner input:-webkit-autofill:autofill:hover,
.inner input:-webkit-autofill:focus-visible,
.inner input:-webkit-autofill:autofill:focus-visible {
    background-color: transparent;
    transition: background-color 10000s;
    transition-delay: 0;
    transition-timing-function: ease-in-out;
}

.inner input[type="search"]::-webkit-search-decoration,
.inner input[type="search"]::-webkit-search-cancel-button,
.inner input[type="search"]::-webkit-search-results-button,
.inner input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

.error-wrap {
    margin-top: 0.125rem;
}

.wrap.error input {
    color: var(--color-red-100);
}

/* ADDONS */
.inner.with-addon input {
    padding-right: 3rem;
}

.addon-wrap {
    position: absolute;
    top: 50%;
    right: 0.75rem;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.addon-wrap-start {
    right: auto;
    left: 1.25rem;
    color: var(--color-icons-gray-100);
}

.icon-btn {
    border: none;
    background-color: transparent;
    width: 2rem;
    height: 2rem;
    color: var(--color-icons-gray-100);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.375rem;
    transition: color 0.3s;
}

.icon-btn:disabled {
    cursor: not-allowed;
}

.icon-btn:not(:disabled):hover {
    color: var(--color-dark-50);
}

.icon-btn .addon-icon {
    width: 1rem;
    height: 1rem;
}

.addon-icon {
    max-width: 1.125rem;
    max-height: 1.125rem;
}

.wrap.copied .icon-btn .addon-icon {
    width: 1.25rem;
    height: 1.25rem;
}

.icon-btn:focus-visible {
    color: var(--color-dark-50);
}

.icon-btn:focus {
    color: var(--color-dark-50);
}

.icon-btn:focus:not(.inner input:focus-visible) {
    color: var(--color-dark-50);
}

.wrap:not(.copied) .inner input:focus-within ~ .addon-wrap .addon-icon {
    color: var(--color-dark-50);
}

.wrap:not(.copied) .inner input:focus-visible ~ .addon-wrap .addon-icon {
    color: var(--color-dark-50);
}

.wrap:not(.copied) .inner input:focus ~ .addon-wrap .addon-icon {
    color: var(--color-dark-50);
}

.wrap:not(.copied) .inner input:focus:not(.inner input:focus-visible) ~ .addon-wrap .addon-icon {
    color: var(--color-dark-50);
}

@media (width < 767px) {
    .inner input {
        font-size: 1rem;
        line-height: 1.5rem;
    }
}
