.header {
    margin-bottom: 2rem;
}

.header .title {
    margin-bottom: 0.75rem;
}

.header .subtitle {
    color: var(--color-dark-50);
    width: 70%;
}

.form .fields-wrap {
    display: flex;
    flex-wrap: wrap;
    margin-top: -1.25rem;
    margin-bottom: 2rem;
}

.fields-wrap .field {
    flex: 0 1 17.5rem;
    margin-top: 1.25rem;
    margin-right: 1.25rem;
}

.footer {
    display: flex;
    align-items: center;
}

.footer .cta + .cta {
    margin-left: 1rem;
}

.footer .cta .icon {
    width: 1.5rem;
    height: 1.5rem;
    margin-left: 0.625rem;
}

.cta.next {
    display: flex;
}

@media screen and (width <= 991px) {
    .header .subtitle {
        width: 100%;
    }

    .fields-wrap .field {
        flex: 0 1 calc(50% - 1.25rem);
    }
}

@media screen and (width <= 640px) {
    .fields-wrap .field {
        flex: 0 1 100%;
    }
}
