.wrap {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 2px;
}

.wrap .nav {
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    background-color: var(--color-dark-10);
    color: var(--color-dark-50);
    cursor: pointer;
    transition:
        background-color 0.3s,
        color 0.3s;
}

.nav:hover {
    background-color: var(--color-dark-10);
}

.nav:active {
    background-color: var(--color-dark-20);
}

.nav:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.nav .icon {
    width: 2rem;
    height: 2rem;
}

.nav.prev {
    margin-right: auto;
}

.nav.prev .icon {
    transform: rotate(90deg);
}

.nav.next {
    margin-left: auto;
}

.nav.next .icon {
    transform: rotate(270deg);
}

.page a,
.break {
    font-family: "Inter", sans-serif;
    width: 2rem;
    height: 2rem;
    padding: 0.125rem;
    background-color: var(--color-white-100);
    color: var(--color-dark-50);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    margin: 0 0.5rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    cursor: pointer;
}

.page:global(.selected) a {
    color: var(--color-dark-100);
}
