.wrap {
    --container-padding: 1.5rem;

    width: 100%;
    max-width: calc(1180px + (var(--container-padding) * var(--container-padding-multiplier)));
    margin-left: auto;
    margin-right: auto;
}

.sm {
    max-width: calc(820px + (var(--container-padding) * var(--container-padding-multiplier)));
}

.paddings-x {
    padding-left: var(--container-padding);
    padding-right: var(--container-padding);
}

/* @screen 2xl {
    .wrap {
        --container-padding: 4.6875rem;
    }
} */

@media screen and (width <= 1120px) {
    .wrap {
        --container-padding: 1rem;
    }
}
