.wrap {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    flex-grow: 1;
}

.left,
.right {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.left {
    height: 100%;
    flex: 0 1 600px;
    flex-grow: 1;
}

.image-wrap {
    position: relative;
    overflow: hidden;
    border-radius: 3.75rem;
    background-color: var(--color-blue-10);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image.logo-transparent {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 54%;
}

.icon.lock {
    width: 14.25rem;
    height: 14.25rem;
    z-index: 10;
    color: var(--color-blue-100);
}

.right {
    margin-left: 3rem;
}

.form .title {
    margin-bottom: 1.5rem;
}

.form .subtitle {
    margin-bottom: 2rem;
    color: var(--color-dark-50);
}

.fields .field + .field {
    margin-top: 1.25rem;
}

.fields {
    margin-bottom: 2rem;
}

.forgot-password-link {
    display: inline-block;
    margin-bottom: 2rem;
}

.footer {
    display: flex;
}

.cta + .cta {
    margin-left: 0.75rem;
}

.cta.login {
    flex: 1 1 35%;
}

.cta.sign-up {
    flex: 1 1 65%;
    text-align: center;
}

.error-wrap {
    display: block;
    margin-bottom: 0.5rem;
}

@media screen and (width > 1121px) {
    .wrap {
        padding-right: 6.25rem;
    }

    /* .left {
        flex: 1 1 600px;
    } */

    .right {
        flex: 0 1 23.75rem;
    }
}

@media screen and (width <= 1121px) {
    .wrap {
        flex-direction: column;
        justify-content: start;
    }

    .left {
        height: auto;
    }

    .image-wrap {
        border: none;
        width: 50vw;
        margin: 0 auto;
        border-radius: 1.5rem;
        overflow: hidden;
        margin-bottom: 2.25rem;
    }

    .image {
        border-radius: 1.5rem;
    }

    .image-wrap::before {
        display: none;
    }

    .right {
        width: 100%;
        margin-left: 0;
    }

    .forgot-password-link {
        margin-bottom: 1.5rem;
    }

    .cta.login {
        flex-basis: 40%;
    }

    .cta.sign-up {
        flex-basis: 60%;
    }
}

@media screen and (width <= 480px) {
    .image-wrap {
        width: 100%;
        max-width: 308px;
    }
}
