.wrap {
    font-family: "Inter", sans-serif;
    display: inline-block;
    transition:
        background-color 0.2s ease,
        opacity 0.2s ease;
    text-decoration: none;
    outline: none;
    border: none;
    cursor: pointer;
    font-weight: 500;
}

.wrap:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.primary,
.secondary,
.outline {
    padding: 1.25rem 1.875rem;
    border-radius: 1.25rem;
}

.primary {
    background-color: var(--color-blue-100);
    color: var(--color-white-100);
}

.primary:not(:disabled):hover {
    background-color: var(--color-blue-90);
}

.primary:not(:disabled):active {
    background-color: var(--color-blue-80);
}

.secondary:not(:disabled):hover {
    background-color: var(--color-white-90);
}

.secondary:not(:disabled):active {
    background-color: var(--color-white-80);
}

.stroke {
    padding: 0.625rem 1.25rem;
    border-radius: 1rem;
}

.outline {
    border: 1px solid var(--color-accent-blue-50);
    color: var(--color-blue-100);
    background-color: transparent;
    transition:
        background-color 0.2s,
        color 0.2s;
}

.outline:not(:disabled):hover {
    background-color: var(--color-blue-90);
    color: var(--color-white-100);
}

@media screen and (width <= 1120px) {
    .primary,
    .secondary,
    .outline {
        padding: 0.9375rem 1.25rem;
        font-size: 0.875rem;
        border-radius: 1rem;
    }
}
