.wrap {
    font-family: "DM Sans", sans-serif;
    line-height: 1.33;
    color: currentcolor;
}

.title-h1 {
    font-size: clamp(2rem, 1.3738rem + 2.7833vw, 3.75rem);
    font-weight: 700;
}

.title-h3 {
    font-size: clamp(30px, 1.8303rem + 0.1988vw, 2rem);
    font-weight: 700;
}

.title-h4 {
    font-size: clamp(1.5rem, 1.3211rem + 0.7952vw, 2rem);
    font-weight: 700;
}

.paragraph-base,
.paragraph-sm,
.paragraph-lg,
.button-text-base,
.button-text-lg {
    font-family: "Inter", sans-serif;
}

.paragraph-base {
    font-size: 1rem;
    line-height: 1.5;
}

.paragraph-lg {
    font-size: 1.125rem;
}

.paragraph-sm {
    font-size: 0.875rem;
}

.caption {
    font-size: 0.75rem;
    line-height: 1.5;
}

.link {
    font-size: 1rem;
    line-height: 1.5;
    color: var(--color-blue-100);
    text-decoration: none;
    transition: color 0.3s;
}

.link:hover {
    color: var(--color-blue-90);
    text-decoration: underline;
}
