.header {
    margin-bottom: 1.5rem;
    margin-top: 2rem;
}

.header .title {
    margin-bottom: 0.75rem;
}

.header .subtitle {
    color: var(--color-dark-50);
}

.agreement-wrap {
    position: relative;
    border-radius: 0.75rem;
    border: 1px solid var(--color-stroke-grey-100);
    background-color: var(--color-light-blue-50);
    overflow: hidden;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    margin-bottom: 2rem;
}

.agreement {
    padding-left: 1rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    margin-right: 0.25rem;
    margin-top: -0.25rem;
    margin-bottom: -0.25rem;
    max-height: 19rem;
    overflow-y: auto;
}

.close-link {
    display: inline-block;
    padding: 0.625rem;
    border-radius: 50%;
    background-color: var(--color-light-blue-50);
    color: var(--color-dark-100);
    border: none;
    transition: background-color 0.2s ease;
    text-decoration: none;
}

.close-link .icon {
    width: 1.5rem;
    height: 1.5rem;
}
