.wrap {
    padding: 12.5rem 1.5rem 5rem;
    background-color: var(--color-light-blue-50);
    border-radius: 3rem;
}

.header {
    margin-bottom: 2rem;
}

.title {
    text-align: center;
}

.fields-wrap {
    display: flex;
    justify-content: center;
    align-items: end;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 2rem;
}

.field {
    max-width: 21.875rem;
}

.field + .field {
    margin-left: 1rem;
}

.cta-wrap {
    display: flex;
    align-items: end;
    flex: none;
    margin-left: 1rem;
}

.cta {
    padding: 0.9375rem 1.25rem;
    font-size: 0.875rem;
    border-radius: 1rem;
}

.cards-wrap {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: -1rem;
    margin-right: -1rem;
}

.card {
    margin-top: 1rem;
    margin-right: 1rem;
    flex: 0 1 calc((100% / 3) - 1rem);
}

@media screen and (width <= 1280px) {
    .wrap {
        padding: 6rem 1rem 2.5rem;
    }
}

@media screen and (width < 767px) {
    .title {
        font-size: 1.875rem;
    }

    .fields-wrap {
        flex-direction: column;
        align-items: center;
    }

    .field + .field {
        margin: 0;
        margin-top: 1rem;
    }

    .field {
        max-width: 100%;
    }

    .cta-wrap {
        margin: 0;
        margin-top: 1rem;
        width: 100%;
    }

    .cta {
        width: 100%;
        text-align: center;
    }

    .card {
        flex: 1 1 100%;
    }
}
