.wrap {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader-wrap {
    flex: 0 0 5rem;
    width: 5rem;
    height: 5rem;
}

.loader {
    background-size: cover;
    animation: loader-circle 1s steps(8, end) infinite;
}

@keyframes loader-circle {
    to {
        transform: rotate(360deg);
    }
}
