@import url("./fonts.css");
@import url("./variables.css");
@import url("./keyframes.css");
@import url("./reset.css");

:root {
    --ring-width: 2px;
    --ring-color: var(--color-blue-50);
    --ring-offset-shadow: 0 0 0 0 #ffffff;
    --ring-shadow: 0 0 0 var(--ring-width) var(--ring-color);
}

.lock-scroll-y {
    position: fixed;
    inset: 0;
    overflow-y: hidden;
}

.scrollbar-hide {
    scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

body {
    color: var(--color-dark-100);
}

body img {
    user-select: none !important;
}

body .focus-primary:focus-visible {
    outline: 2px solid transparent;
    outline-offset: 2px;
    box-shadow:
        var(--ring-offset-shadow),
        var(--ring-shadow),
        0 0 #000000;
}

body .focus-primary:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
    box-shadow:
        var(--ring-offset-shadow),
        var(--ring-shadow),
        0 0 #000000;
}

body .focus-within-primary:focus-within {
    outline: 2px solid transparent;
    outline-offset: 2px;
    box-shadow:
        var(--ring-offset-shadow),
        var(--ring-shadow),
        0 0 #000000;
}

body .focus-primary:focus:not(body .focus-primary:focus-visible) {
    --ring-width: 0;

    outline: none;
    box-shadow: none;
}

body .focus-primary-child {
    outline: 2px solid transparent;
    outline-offset: 2px;
    box-shadow:
        var(--ring-offset-shadow),
        var(--ring-shadow),
        0 0 #000000;
}

body .visually-hidden {
    display: inline-block;
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border-width: 0;
}

body .full-height {
    min-height: 100svh;
    min-height: 100vh;
}

body .animate-fade-in {
    animation: fade-in 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

body .animate-dialog-fade-in {
    animation: dialog-fade-in 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

body .truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (hover: hover) and (pointer: fine) and (width>=1024px) {
    *::-webkit-scrollbar {
        width: var(--scrollbar-size);
        height: var(--scrollbar-size);
    }

    *::-webkit-scrollbar-thumb:hover {
        background-color: var(--scrollbar-thumb-color-hover);
        border-color: var(--scrollbar-thumb-color-hover);
    }

    *::-webkit-scrollbar-track {
        background-color: var(--scrollbar-track-color);
    }

    *::-webkit-scrollbar-thumb {
        background-color: var(--scrollbar-thumb-color);
        border-radius: 6px;
        border: 4px solid var(--scrollbar-thumb-color);
    }
}
