:root {
    /* Colors */

    --color-dark-100: rgba(37, 37, 47, 1);
    --color-dark-50: rgba(118, 123, 137, 1);
    --color-dark-20: rgba(118, 123, 137, 0.2);
    --color-dark-10: rgba(118, 123, 137, 0.1);
    --color-dark-5: rgba(118, 123, 137, 0.05);
    --color-white-80: rgba(235, 235, 235, 1);
    --color-white-90: rgba(245, 245, 245, 1);
    --color-white-100: rgba(255, 255, 255, 1);
    --color-blue-10: rgba(229, 236, 246, 1);
    --color-blue-50: rgba(168, 200, 255, 1);
    --color-blue-80: rgba(75, 148, 255, 1);
    --color-blue-90: rgba(65, 138, 255, 1);
    --color-blue-100: rgba(45, 118, 245, 1);
    --color-accent-blue-50: rgba(45, 118, 245, 0.5);
    --color-light-blue-50: rgba(239, 242, 246, 1);
    --color-green-110: rgba(122, 189, 120, 1);
    --color-red-100: rgba(226, 100, 100, 1);
    --color-icons-gray-100: rgba(184, 186, 190, 1);
    --color-overlay-primary: rgba(21, 35, 61, 0.3);
    --color-stroke-white-15: rgba(255, 255, 255, 0.15);
    --color-stroke-grey-100: rgba(215, 215, 215, 1);

    /* Shadows */

    --shadow-dialog: 0 5px 22px 0 rgba(0, 0, 0, 0.04), 0 0 0 0.5px rgba(0, 0, 0, 0.03);

    /* Scrollbar */

    --scrollbar-size: 6px;
    --scrollbar-track-color: var(--color-dark-10);
    --scrollbar-thumb-color: var(--color-dark-50);
    --scrollbar-thumb-color-hover: rgb(116 130 144);
}
