/* stylelint-disable selector-class-pattern */

.wrap {
    display: inline-flex;
    flex-direction: column;
    width: 100%;
    font-family: "Inter", serif;
}

.wrap.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.label {
    margin-bottom: 0.25rem;
}

.select :global(.select__control) {
    outline: 2px solid transparent;
    outline-offset: 2px;
    width: 100%;
    height: 51px;
    padding-left: 1.25rem;
    padding-right: 0.5rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    background-color: transparent;
    color: var(--color-dark-100);
    border: 1px solid var(--color-stroke-grey-100);
    border-radius: 1rem;
    transition: color 0.15s ease-in;
}

.select :global(.select__control):disabled {
    cursor: not-allowed;
    border-color: var(--color-dark-50);
}

.select :global(.select__control)::placeholder {
    color: var(--color-dark-50);
    font-size: 0.875rem;
    line-height: 1.25rem;
    transition: opacity 0.3s ease-in;
}

.select * {
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.select :global(.select__control .select__control--is-focused) {
    border-color: var(--color-blue-100);
}

.select :global(.select__control .select__control--is-disabled) {
    border-color: transparent;
}

.select :global(.select__value-container) {
    padding: 0;
    top: -2px;
}

.select.confidential :global(.select__value-container--has-value) {
    padding-bottom: 0.1875rem;
}

.select :global(.select__placeholder) {
    margin: 0;
    padding-top: 0.625rem;
    padding-bottom: 0.125rem;
    padding-right: 0.75rem;
    color: var(--color-dark-50);
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.select :global(.select__control--is-disabled .select__placeholder) {
    color: var(--color-dark-50);
}

.select :global(.select__input-container) {
    margin: 0;
    padding: 0.625rem 0.75rem 0.125rem 0 !important;
    color: var(--color-dark-100);
    font-size: 0.875rem;
    line-height: 1.25rem;
    height: 2rem;
}

.select :global(.select__single-value) {
    margin-left: 0 !important;
    padding-left: 0;
    padding-top: 0.375rem;
    font-size: 0.875rem !important;
    line-height: 1.25rem !important;
}

.select :global(.select__value-container .select__input-container) {
    padding-top: 0 !important;
}

.select :global(.select__value-container--has-value .select__input-container) {
    padding: 0 0.5rem;
}

.select :global(.select__input) {
    position: absolute;
    top: 50%;
    transform: translateY(calc(calc(50% - 3px) * -1));
    font-size: 0.875rem;
    line-height: 1.25rem;
}

:global(.select__menu-portal) {
    pointer-events: auto;
}

.select :global(.select__menu),
:global(.select__menu-portal .select__menu) {
    width: 100%;
    padding-left: 0.25rem;
    padding-right: 0;
    box-shadow: none;
    border: 1px solid var(--color-stroke-grey-100);
    background-color: var(--color-light-blue-50);
    border-radius: 1rem;
}

.select :global(.select__menu),
:global(.select__menu-portal .select__menu)[data-side="top"] {
    padding-top: 0.125rem;
    margin-bottom: 0.25rem;
}

.select :global(.select__menu),
:global(.select__menu-portal .select__menu)[data-side="bottom"] {
    padding-bottom: 0.125rem;
    margin-top: 0.25rem;
}

.select :global(.select__menu-list),
:global(.select__menu-portal .select__menu-list) {
    max-height: 270px;
    padding-right: 0.25rem;
    padding-top: 0.125rem;
}

.select :global(.select__menu-notice) {
    padding: 0;
    display: flex;
    justify-content: center;
}

.select :global(.select__option),
:global(.select__menu-portal .select__option) {
    padding: 0.625rem 0.5rem;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: background-color 0.15s ease-in;
    border-radius: 0.625rem;
    cursor: pointer;
}

.select :global(.select__option:active),
:global(.select__menu-portal .select__option:active) {
    background-color: var(--color-dark-10);
}

.select :global(.select__option--is-focused),
:global(.select__menu-portal .select__option--is-focused) {
    background-color: var(--color-dark-10);
}

.select :global(.select__option--is-selected),
:global(.select__menu-portal .select__option--is-selected) {
    background-color: var(--color-dark-20);
}

.select :global(.select__option--is-selected) .option-icon,
:global(.select__menu-portal .select__option--is-selected) .option-icon {
    opacity: 1;
}

.select :global(.select__indicator.select__dropdown-indicator) {
    transition: transform 0.15s ease-in;
    color: var(--color-stroke-grey-100);
    margin-top: 0.75rem;
}

.select :global(.select__control.select__control--menu-is-open .select__indicator.select__dropdown-indicator) {
    transform: rotate(180deg);
}

.select :global(.select__control--is-disabled .select__indicator.select__dropdown-indicator) {
    color: var(--color-stroke-grey-100);
}

.select :global(.select__group):not(:last-of-type) {
    position: relative;
}

.select :global(.select__group):not(:last-of-type)::after {
    position: absolute;
    content: "";
    left: -1rem;
    bottom: 0;
    right: -1rem;
    width: calc(100% + 1rem);
    border-bottom: 1px solid var(--color-stroke-grey-100);
    margin-bottom: 0.25rem;
}

.error {
    margin-top: 0.5rem;
}

@media screen and (width <= 767px) {
    .select * {
        font-size: 1rem !important;
        line-height: 1.5rem !important;
    }

    .select :global(.select__value-container) {
        top: -0.25rem;
    }

    .select :global(.select__input) {
        transform: translate(calc(calc(50% - 3px) * -1));
    }
}
