.wrap {
    position: relative;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
}

.inner {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: var(--color-light-blue-50);
    flex: 1 1 100%;
    border-radius: 3rem;
    padding: 3.125rem 0;
}

.container {
    display: flex;
    flex-direction: column;
    flex: 1 1 100%;
    height: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.logo-wrap {
    width: 8rem;
    height: 3.125rem;
    flex-shrink: 0;
}

.logo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.logo-wrap .link {
    outline: none;
}

.sponsor-wrap {
    background-color: var(--color-white-100);
    padding: 0.9375rem 1.25rem;
    border-radius: 1rem;
}

.sponsor-wrap .label {
    font-weight: 500;
}

.content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

@media screen and (width <= 1120px) {
    .wrap {
        padding: 0.625rem;
    }

    .inner {
        border-radius: 1.875rem;
        padding: 1.5rem 0;
    }

    .logo-wrap {
        width: 6.25rem;
        height: 2.5rem;
    }
}

@media screen and (width <= 767px) {
    .sponsor-wrap .label {
        display: flex;
        flex-direction: column;
    }
}
