.wrap {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    margin-bottom: 2rem;
    text-align: center;
    width: 100%;
    max-width: 28.125rem;
}

.image-wrap {
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
}

.title {
    margin-bottom: 0.75rem;
}

.subtitle {
    color: var(--color-dark-50);
}

.cta {
    display: flex;
    align-items: center;
}

.cta .icon {
    width: 1.5rem;
    height: 1.5rem;
    margin-left: 0.625rem;
}

@media screen and (width <= 767px) {
    .subtitle {
        font-size: 0.875rem;
        line-height: 1.25rem;
    }
}
