.wrap {
    padding: 24px;
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.inner {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    border-radius: 3rem;
    background-color: var(--color-light-blue-50);
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    margin-top: -3.125rem;
}

.image-wrap {
    width: 22.8125rem;
    height: 16.875rem;
    margin-bottom: 1.5rem;
}

.image {
    height: 100%;
    object-fit: cover;
}

.title {
    margin-bottom: 1.5rem;
}

.subtitle {
    margin-bottom: 1.5rem;
    text-align: center;
    color: var(--color-dark-50);
}

.cta {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 3.125rem;
}

.cta .icon {
    width: 2rem;
    height: 2rem;
    margin-left: 0.625rem;
}

@media screen and (width <= 1280px) {
    .wrap {
        padding: 10px;
    }

    .inner {
        border-radius: 1.875rem;
    }

    .title {
        margin-bottom: 0.75rem;
    }
}

@media screen and (width < 1120px) {
    .image-wrap {
        width: 15.625rem;
        height: 11.875rem;
    }

    .subtitle {
        font-size: 0.875rem;
        margin-bottom: 2rem;
    }

    .cta {
        padding: 0.9375rem 1.25rem;
        font-size: 0.875rem;
    }

    .cta .icon {
        width: 1.5rem;
        height: 1.5rem;
    }
}
