.wrap {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    border-radius: 0.875rem;
    text-align: center;
    background-color: var(--color-white-100);
}

.title {
    color: var(--color-dark-100);
    margin-bottom: 0.375rem;
    width: 100%;
}

.number {
    color: var(--color-blue-100);
    margin-bottom: 1rem;
}

@media screen and (width <= 768px) {
    .wrap {
        padding: 1rem;
    }
}
