.wrap {
    margin-top: 3.5rem;
}

.wrap + .wrap {
    margin-top: 7.8125rem;
}

.header {
    margin-bottom: 2rem;
}

.header .title {
    text-align: center;
    font-weight: 400;
    margin-bottom: 2rem;
}

.actions-wrap {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.cta {
    padding: 0.9375rem 1.25rem;
    font-size: 0.875rem;
    border-radius: 1rem;
    line-height: 1.35;
    margin-left: 1rem;
    text-align: center;
}

.search {
    max-width: 18.75rem;
}

.table {
    overflow-x: auto;
}

.table.with-pagination {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.cell.phone {
    font-family: "Inter", sans-serif;
    font-size: 0.875rem;
    line-height: 1.25rem;
}

@media screen and (width < 767px) {
    .actions-wrap {
        flex-direction: column;
    }

    .cta {
        margin-left: 0;
        margin-top: 1rem;
    }

    .search {
        max-width: 100%;
    }
}
