.wrap {
    overflow: hidden;
}

.label {
    margin-bottom: 1px;
}

.wrap .text {
    font-weight: 700;
}

.caret-icon {
    position: absolute;
    top: 50%;
    width: 1.5rem;
    height: 1.5rem;
    right: 0.9375rem;
    margin-top: -0.75rem;
    color: var(--color-icons-grey-100);
    will-change: transform, colors;
    transition:
        transform 0.15s ease,
        colors 0.15s ease;
}

.toggler {
    position: relative;
    outline: none;
    width: 100%;
    text-align: left;
    padding: 0.8959rem 3rem 0.8959rem 1.25rem;
    font-size: 0.875rem;
    background-color: transparent;
    color: var(--color-dark-50);
    border: 1px solid var(--color-stroke-grey-100);
    border-radius: 1rem;
    transition:
        colors 0.15s ease,
        border-color 0.15s ease;
}

.toggler:disabled {
    cursor: not-allowed;
    border-color: var(--color-dark-50);
}

.wrap:hover .toggler:not([read-only], :disabled, :focus-visible, :focus:not(.wrap .toggler:focus-visible)) {
    border-color: var(--color-blue-100);
}

.toggler:focus-visible {
    border-color: var(--color-blue-100);
}

.toggler:focus {
    border-color: var(--color-blue-100);
}

.toggler:focus:not(.inner input:focus-visible) {
    border-color: var(--color-blue-100);
}

.wrap.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.wrap.selected .toggler {
    color: var(--color-dark-100);
}

.toggler-content {
    position: relative;
    z-index: 1;
    display: block;
}

.toggler[data-state="open"] {
    border-color: var(--color-blue-100);
}

.toggler[data-state="open"] .caret-icon {
    transform: rotate(180deg);
}

.content {
    padding: 0.5rem;
    background-color: var(--color-light-blue-50);
    border: 1px solid var(--color-stroke-grey-100);
    width: var(--radix-dropdown-menu-trigger-width);
    border-radius: 1rem;
    animation: dropdown-fade-in 0.15s ease;
}

.content[data-side="top"] {
    margin-bottom: 0.25rem;
}

.content[data-side="bottom"] {
    margin-top: 0.25rem;
}

.item {
    outline: none;
    position: relative;
    padding: 0.5rem 2.5rem 0.5rem 0.625rem;
    cursor: pointer;
    color: var(--color-dark-50);
    transition:
        color 0.3s ease,
        background-color 0.3s ease;
    border-radius: 0.625rem;
}

.item:not([data-disabled]):hover,
.item:focus {
    color: var(--color-dark-100);
    background-color: var(--color-dark-10);
}

.item:focus-visible {
    color: var(--color-dark-100);
    background-color: var(--color-dark-10);
}

.item-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 1.25rem;
    height: 1.25rem;
    right: 0.75rem;
    color: var(--color-blue-100);
    will-change: opacity;
    transition: opacity 0.15s ease;
    opacity: 0;
}

.item[data-state="checked"] {
    background-color: var(--color-dark-10);
    color: var(--color-dark-100);
}

.item[data-state="checked"] .item-icon {
    opacity: 1;
}

.error-wrap {
    margin-top: 0.125rem;
}

@keyframes dropdown-fade-in {
    from {
        opacity: 0;
        transform: translateY(-0.25rem);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
