.wrap {
    color: var(--color-dark-100);
    font-size: 0.875rem;
}

.wrap > *:first-child {
    margin-top: 0;
    padding-top: 0;
}

.wrap > *:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
}

.revert-margins {
    margin-top: revert;
    margin-left: revert;
    margin-right: revert;
    margin-bottom: revert;
}

.revert-paddings {
    padding-top: revert;
    padding-left: revert;
    padding-right: revert;
    padding-bottom: revert;
}

.list {
    list-style: revert;
}

.h3 {
    font-weight: 700;
    margin-bottom: 0.25em;
}

.paragraph {
    margin-bottom: 1rem;
    color: var(--color-dark-50);
}

.link {
    color: var(--color-blue-500);
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
    color: var(--color-blue-90);
}

.link:visited {
    color: var(--color-accent-blue-50);
}

.code {
    display: inline-block;
    font-family: ui-monospace, monospace;
    background-color: var(--color-dark-10);
    border-radius: 0.25rem;
    white-space: break-spaces;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.blockquote {
    color: var(--color-dark-100);
    font-weight: 500;
    margin-top: 1rem;
    padding-left: 1rem;
    padding-top: 1rem;
    border-left: 4pc solid var(--color-dark-10);
    background-color: var(--color-dark-5);
}

.blockquote *:not(a) {
    color: var(--color-dark-100);
}

.blockquote > :first-child:not(blockquote) {
    margin-top: 0;
}

.blockquote > :last-child:not(blockquote) {
    padding-bottom: 1rem;
}

.blockquote > *:not(blockquote) {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.hr {
    border-color: var(--color-dark-10);
}
