.header {
    margin-bottom: 2rem;
}

.header .title {
    margin-bottom: 0.75rem;
}

.header .subtitle {
    color: var(--color-dark-50);
    width: 70%;
}

.form .fields-wrap {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    width: 100%;
    max-width: 23.75rem;
}

.field + .field {
    margin-top: 20px;
}

.footer .cta-wrap {
    display: flex;
    align-items: center;
    margin-bottom: 3rem;
}

.footer .cta + .cta {
    margin-left: 1rem;
}

.footer .cta .icon {
    width: 1.5rem;
    height: 1.5rem;
    margin-left: 0.625rem;
}

.cta.next {
    display: flex;
}

.login-wrap .link {
    font-size: 14px;
}

@media screen and (width <= 991px) {
    .header .subtitle {
        width: 100%;
    }

    .fields-wrap .field {
        flex: 0 1 calc(50% - 1.25rem);
    }
}

@media screen and (width <= 640px) {
    .fields-wrap .field {
        flex: 0 1 100%;
    }
}
