.image-wrap {
    display: flex;
    width: 12.8125rem;
    height: 13.0625rem;
    margin-bottom: 2rem;
}

.image-wrap .image {
    height: 100%;
    object-fit: cover;
}

.header {
    margin-bottom: 2rem;
}

.header .subtitle {
    color: var(--color-dark-50);
}

.header .title {
    margin-bottom: 0.75rem;
}

@media screen and (width < 767px) {
    .image-wrap {
        width: 10rem;
        height: 10.1875rem;
    }
}
