.wrap {
    padding: 0.5rem 1.5rem;
    border: 1px solid var(--color-stroke-grey-100);
    border-top: 0;
    background-color: var(--color-light-blue-50);
    border-radius: 0 0 0.875rem 0.875rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navigation {
    display: flex;
    align-items: center;
}

.navigation .button {
    padding: 0;
    border-radius: 0.5rem;
    border: none;
    background-color: var(--color-dark-10);
    color: var(--color-dark-50);
    cursor: pointer;
    transition: background-color 0.3s;
}

.button .icon {
    width: 1.5rem;
    height: 1.5rem;
}

.button.prev .icon {
    transform: rotate(90deg);
}

.button.next .icon {
    transform: rotate(270deg);
}

.button:not(:disabled):hover {
    background-color: var(--color-dark-10);
}

.button:not(:disabled):active {
    background-color: var(--color-dark-20);
}

.button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.page {
    min-width: 1.5rem;
    padding: 0.125rem;
    height: 100%;
    background-color: var(--color-white-100);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    margin: 0 0.5rem;
}

.page .text {
    color: var(--color-dark-100);
}

/* .prev .label,
.next .label {
    display: none;
} */

@media screen and (width <= 991px) {
    .wrap {
        margin-top: 1rem;
        padding-left: 0;
        padding-right: 0;
        border: none;
        background-color: transparent;
        border-radius: 0.5rem;
        justify-content: center;
    }

    .navigaton {
        width: 100%;
        flex: 1 1 0%;
    }

    .button {
        display: flex;
        align-items: center;
        padding: 0.5rem;
    }

    .button .icon {
        width: 2rem;
        height: 2rem;
    }

    .page {
        padding: 0.5rem;
        min-width: 3rem;
        height: 3rem;
    }

    .page .text {
        font-size: 1.25rem;
        line-height: 1.75rem;
    }

    .prev .label,
    .next .label {
        display: block;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        color: var(--color-dark-50);
    }
}
