.option-text {
    color: var(--color-dark-100);
    margin-right: 0.5rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.option-icon {
    color: var(--color-blue-100);
    transition: opacity 0.3s ease-in;
    flex-shrink: 0;
    width: 20px;
    height: 20px;
}
