.overlay {
    position: fixed;
    inset: 0;
    background-color: var(--color-overlay-primary);
    pointer-events: none !important;
}

.wrap {
    --dialog-width: calc(100vw - 2.5rem);
    --dialog-max-width: 40.4375rem;

    position: fixed;
    width: var(--dialog-width);
    max-width: var(--dialog-max-width);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    outline: none;
    padding: 3rem;
    overflow: hidden;
    background-color: var(--color-white-100);
    border-radius: 3rem;
    box-shadow: var(--shadow-dialog);
    max-height: 100svh;
    max-height: 100vh;
    overflow-y: auto;
}

@media screen and (width < 767px) {
    .wrap {
        padding: 5rem 1.5rem 2rem;
    }
}
