.wrap {
    --row-height: 3.75rem;

    border: 1px solid var(--color-stroke-grey-100);
    border-radius: 0.875rem;
    isolation: isolate;
    overflow: hidden;
    overflow-y: auto;
}

.table {
    width: 100%;
    height: 100%;
}

.table thead tr,
.table thead th {
    position: sticky;
    top: 0;
    z-index: 2;
}

.header-text {
    font-weight: 400;
    line-height: 1.25rem;
    color: var(--color-dark-100);
}

.th {
    position: relative;
    padding: 0.75rem 1rem;
    vertical-align: top;
    text-align-last: left;
    background-color: var(--color-light-blue-50);
}

.th .sorting-btn {
    border: none;
}

.th::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: var(--color-stroke-grey-100);
}

.th:first-child {
    border-top-left-radius: 0.875rem;
    overflow: hidden;
}

.th:last-child {
    border-top-right-radius: 0.875rem;
    overflow: hidden;
}

.icon {
    border-radius: 0.5rem;
    flex-shrink: 0;
}

.tbody td {
    position: relative;
    vertical-align: top;
    background-color: var(--color-white-100);
    color: var(--color-dark-100);
}

.tbody td:not(:empty) {
    padding: 1rem;
    border-style: solid;
}

.tbody tr:not(:last-child) td:not(:empty) {
    border-bottom: 1px solid var(--color-stroke-grey-100);
}

.wrap .table .empty-cell {
    text-align: center;
    color: var(--color-dark-50);
}

@media screen and (width > 991px) {
    .wrap {
        max-height: calc(var(--row-height) * 10);
    }
}

@media screen and (width <= 991px) {
    .wrap {
        border: none;
    }

    .card + .card {
        margin-top: 1rem;
    }

    .empty {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .empty .text {
        text-align: center;
    }

    .card .list {
        width: 100%;
    }

    .card .row {
        display: flex;
        justify-content: space-between;
    }

    .row .title {
        display: block;
        flex-grow: 0;
        flex-shrink: 0;
        margin-right: 1rem;
        color: var(--color-dark-100);
    }
}
