.wrap {
    padding: 12.5rem 1.5rem 5rem;
    background-color: var(--color-light-blue-50);
    border-radius: 3rem;
}

.header {
    margin-bottom: 2rem;
}

.title {
    text-align: center;
}

.content {
    display: flex;
}

.card {
    width: 100%;
}

.card + .card {
    margin-left: 1rem;
}

@media screen and (width <= 1280px) {
    .wrap {
        padding: 6rem 1rem 2.5rem;
    }
}

@media screen and (width < 767px) {
    .title {
        font-size: 1.875rem;
    }

    .content {
        flex-direction: column;
    }

    .card + .card {
        margin-left: 0;
        margin-top: 1rem;
    }
}
