.wrap {
    position: relative;
    width: 100%;
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin-top: 3.125rem;
}

.top {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.logo-wrap {
    width: 8.125rem;
    height: 3.125rem;
    z-index: 50;
}

.menu-wrap {
    z-index: 50;
}

.logo {
    width: 100%;
    object-fit: cover;
}

.logo-wrap .link {
    outline: none;
}

.nav-wrap {
    display: flex;
    justify-content: stretch;
    align-items: center;
    flex-grow: 1;
}

.nav-inner {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.nav {
    flex-grow: 1;
}

.nav-list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-item + .nav-item {
    margin-left: 1.25rem;
}

.cta-wrap {
    display: flex;
    align-items: center;
}

.user-wrap {
    display: flex;
    flex-direction: column;
    padding: 0.75rem 1rem;
    border-radius: 1rem;
    background-color: var(--color-white-100);
    margin-right: 0.75rem;
}

.user-info {
    font-weight: 500;
}

.user-info + .user-info {
    margin-top: 0.125rem;
}

.cta.log-out {
    padding: 0.9375rem 1.25rem;
    font-size: 0.875rem;
}

.link {
    color: var(--color-dark-100);
    transition: color 0.3s ease;
    text-decoration: none;
    font-weight: 500;
}

.link:hover,
.link[data-status="active"] {
    color: var(--color-blue-100);
}

.menu {
    border: none;
    background-color: transparent;
}

@media screen and (width <= 1280px) {
    .header {
        margin-top: 2.1875rem;
        padding: 0 1rem;
    }

    .logo-wrap {
        width: 6.25rem;
        height: 2.5rem;
    }

    .nav-wrap {
        position: absolute;
        inset: 0;
        top: -2.1875rem;
        flex-direction: column;
        background-color: var(--color-white-100);
        padding: 0.75rem;
        z-index: 0;
        padding-top: 6rem;
        opacity: 0;
        transform: translateY(-20px);
        transition: z-index 0.1s 0.5s;
    }

    .nav-wrap[data-state="open"] {
        animation: nav-fade-in 0.4s ease;
        opacity: 1;
        transform: translateY(0);
        z-index: 10;
    }

    .nav-wrap,
    .nav-wrap[data-state="closed"] {
        animation: nav-fade-out 0.5s ease;
        opacity: 0;
        transform: translateY(-20px);
        z-index: -1;
    }

    .nav-inner {
        width: 100%;
        flex-grow: 0;
        padding: 3rem 1.5rem;
        background-color: var(--color-blue-100);
        border-radius: 3rem;
        flex-direction: column;
    }

    .nav {
        margin-bottom: 2rem;
    }

    .nav-list {
        flex-direction: column;
    }

    .nav-item + .nav-item {
        margin-left: 0;
        margin-top: 1rem;
    }

    .link {
        font-weight: 600;
        color: var(--color-white-100);
        transition: color 0.3s ease;
        margin: 0;
        line-height: 2rem;
    }

    .link:not([data-status="active"]) {
        color: var(--color-blue-50);
    }

    .link:hover,
    .link[data-status="active"] {
        color: var(--color-white-100);
    }

    .cta-wrap {
        flex-direction: column;
    }

    .user-wrap {
        margin: 0;
    }

    .cta.log-out {
        margin-top: 0.5rem;
        border-color: var(--color-blue-80);
        color: var(--color-white-100);
    }
}

@keyframes nav-fade-in {
    from {
        opacity: 0;
        transform: translateY(-20px);
        z-index: -1;
    }

    to {
        opacity: 1;
        transform: translateY(0);
        z-index: 10;
    }
}

@keyframes nav-fade-out {
    from {
        opacity: 1;
        transform: translateY(0);
        z-index: 10;
    }

    to {
        opacity: 0;
        transform: translateY(-20px);
        z-index: -1;
    }
}
