.image-wrap {
    display: flex;
    width: 4rem;
    height: 4rem;
    margin-bottom: 2rem;
}

.image-wrap .image {
    height: 100%;
    object-fit: cover;
}

.header {
    margin-bottom: 2rem;
}

.header .subtitle {
    color: var(--color-dark-50);
}

.header .title {
    margin-bottom: 0.75rem;
}
