.wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    flex-grow: 1;
}

.image-wrap {
    position: relative;
    isolation: isolate;
    border: 24px solid rgba(235, 239, 245, 1);
    border-radius: 68px;
    object-position: 50% 50%;
}

.image-wrap::before {
    content: "";
    position: absolute;
    inset: -12px;
    width: calc(100% + 24px);
    height: calc(100% + 24px);
    background-color: rgba(216, 226, 245, 1);
    border-radius: 4rem;
    z-index: -1;
}

.image {
    /* width: 100%; */
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    border-radius: 4rem;
    z-index: 1;
}

.right {
    margin-left: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form .title {
    margin-bottom: 2rem;
}

.fields .field + .field {
    margin-top: 1.25rem;
}

.fields {
    margin-bottom: 0.75rem;
}

.forgot-password-link {
    display: inline-block;
    margin-bottom: 2rem;
}

.footer {
    display: flex;
}

.cta + .cta {
    margin-left: 0.75rem;
}

.cta.login {
    flex: 1 1 35%;
}

.cta.sign-up {
    flex: 1 1 65%;
    text-align: center;
}

.error-wrap {
    display: block;
    margin-bottom: 0.5rem;
}

@media screen and (width > 1121px) {
    .wrap {
        padding-right: 6.25rem;
    }

    .left {
        flex: 0 1 600px;
    }

    .right {
        flex: 0 1 23.75rem;
    }
}

@media screen and (width <= 1121px) {
    .wrap {
        flex-direction: column;
        justify-content: start;
    }

    .left {
        height: auto;
    }

    .image-wrap {
        border: none;
        width: 50vw;
        margin: 0 auto;
        border-radius: 1.5rem;
        overflow: hidden;
        margin-bottom: 2.25rem;
    }

    .image {
        border-radius: 1.5rem;
    }

    .image-wrap::before {
        display: none;
    }

    .right {
        width: 100%;
        margin-left: 0;
    }

    .forgot-password-link {
        margin-bottom: 1.5rem;
    }

    .cta.login {
        flex-basis: 40%;
    }

    .cta.sign-up {
        flex-basis: 60%;
    }
}

@media screen and (width <= 480px) {
    .image-wrap {
        width: 100%;
        max-width: 308px;
    }
}
