.wrap {
    margin-top: 3.5rem;
}

.header {
    margin-bottom: 2rem;
}

.header .title {
    text-align: center;
    font-weight: 400;
    margin-bottom: 2rem;
}

.filter-wrap {
    display: flex;
    align-items: center;
}

.filters {
    display: flex;
    flex-grow: 1;
}

.filters .field {
    width: 100%;
}

.field + .field {
    margin-left: 1rem;
}

.cta-wrap {
    margin-left: 1rem;
}

.cta {
    padding: 0.9375rem 1.25rem;
    font-size: 0.875rem;
    border-radius: 1rem;
    line-height: 1.35;
}

.table {
    overflow-x: auto;
}

.table.with-pagination {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

@media screen and (width <= 991px) {
    .filter-wrap {
        flex-direction: column;
        align-items: flex-start;
    }

    .filters {
        width: 100%;
        flex-direction: column;
    }

    .field + .field {
        margin-left: 0;
        margin-top: 1rem;
    }

    .cta-wrap {
        width: 100%;
        margin-left: 0;
        margin-top: 1rem;
    }

    .cta {
        width: 100%;
        text-align: center;
    }
}

@media screen and (width <= 767px) {
    .wrap {
        margin-top: 2rem;
    }

    .header .title {
        margin-bottom: 1.5rem;
    }
}
